<div>
    <h2>About me</h2>
</div>
<div class="about-img-div">
    <img class="about-img" src="~/Images/personalPic.png" />
</div>
<div class="post-colored">
    <p>
        This is Kevin, I've been working in IT industry since 2015. Microsoft stacks are my favorite and cannot wait to take over them, also share my knowledge with others.
    </p>
    <p>I would share my experience regularly, not a writer and don't care. :)</p>
    <p>
        I find programming fascinating. It's something that makes me excited, and is a ground in which my imaginary and creativity would be grew up. This not going to happen unless I boost my knowledge daily and gradually.  
    </p>
</div>
